.gameboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

.game-cell {
  border: 1px solid black;
  font-size: 64px;
  text-align: center;
}
